body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #aaa;
}

h1 {
color: #AAA;
}

h3 {
    color:#AAA;
    font-size: 1.6em;
    font-weight: 200;
}

h4 {
    margin: 1em;
    color:#BBB;
    font-size: 1.4em;
    font-weight: 200;
    text-decoration: underline;
    text-indent: 2em;
    font-style: italic ;
}

p {
    font-size: 1.3em;
}

blockquote {
    font-size: 1.5em;
    padding: 1% 2%;
    margin: 0em 1.3em;
    background: #222;
}

hr {
    border: 5px solid green;
    border-radius: 5px;
}



.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:    "header"
                            "main"
                            "nav";
}

@media (min-width: 700px){
    .container {
        grid-template-columns: 20% 1fr 15%;
        grid-template-areas: "header main"
                             "nav main"
                                "- main";
    }
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    text-align: center;

}

nav ul, ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    list-style: none;
    padding: 3vw;
    padding-bottom:0.5vh;
    border-bottom: 1px solid #333;
}

nav li, li {
    display: inline;
    margin: 1vw 1vh;
    padding: 1vh;
    box-sizing: content-box;
    cursor: pointer;
    border: solid 2px #1f1f1f;
    background-color: #1f1f1f;
}

nav li:hover, li {
    color: #AAA;
    background-color: #666;
}

nav a , a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #999;
}

#main {
    grid-area: main;
    text-align:left;
    padding: 5vw;
}
#main li {
    display: inline;
    margin: 1vw 1vh;
    padding: 1vh;
    background: #222;
    border: 1px solid #444 ;
    border-radius: 10px;
}
#main li:hover {
    color: #AAA;
    background-color: #666;
}

#notes ul {
    padding-top: 0;
    margin-top:0 ;
}

#notes li {
    display: inline;
    font-size: 1.3em;
    margin: 0;
    padding: 7px;
    background: transparent;
    border: none;
}
#notes li:hover {
    cursor:default;
    background-color: transparent;
}