body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #aaa;
}

h1 {
color: #AAA;}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "header" "nav";
}

header {
    grid-area: header;
    text-align: center;
}

nav {
    grid-area: nav;
    text-align: center;

}

nav ul, ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    list-style: none;
    padding: 3vw;
    padding-bottom:0.5vh;
    border-bottom: 1px solid #333;
}

nav li, li {
    display: inline;
    margin: 1vw 1vh;
    padding: 1vh;
    box-sizing: content-box;
    cursor: pointer;
    border: solid 2px #1f1f1f;
    background-color: #1f1f1f;

}

nav li:hover, li {
    color: #AAA;
    background-color: #666;
}

nav a , a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #999;
}

#main {
    padding: 5vw;
}

p {
    font-size: 1.1em;
}